body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    border: 1px solid #000;
    text-align: center;
    flex-direction: column;
}

.container img {
    max-width: 100%;
    height: auto;
}

.container p {
    margin-top: 10px;
    padding: 0 10px;
}